# Scraping Data from a Website

https://ru.wikipedia.org/wiki/Fortune_Global_500

In [2]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://ru.wikipedia.org/wiki/Fortune_Global_500'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [13]:
#print(soup)

In [14]:
table = soup.find_all('table')[0]

#индексируем, какая именно таблица нас интересует. в данном случае, первая (нумерация с нуля)

In [16]:
%%html
<table class="wikitable sortable jquery-tablesorter">

In [19]:
#print(table)

In [22]:
world_titles = soup.find_all('th')

In [20]:
#world_titles

In [24]:
world_table_titles = [title.text.strip() for title in world_titles]

print(world_table_titles)

['Номерп. п.', 'Название', 'Страна', 'Выручка,млрд $', 'Чистаяприбыль,млрд $', 'Активы,млрд $', 'Собств.капитал,млрд $', 'Рыночнаякапитализ.,млрд $', 'Числосотр.', '№', 'Компания', 'Страна', 'Отрасль', 'Выручка', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '№', 'Компания', 'Страна', 'Отрасль', 'Выручка', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '№', 'Компания', 'Страна', 'Отрасль', 'Выручка', '№', 'Компания', 'Страна', 'Отрасль', '№', 'Компания', 'Страна', 'Отрасль', 'Выручка', '№', 'Компания', 'Страна', 'Отрасль', '№', 'Страна', 'Кол-во компаний', '№', 'Компания', 'Страна', 'Отрасль', '№', 'Компания', 'Страна', 'Отрасль', 'Компания', 'Ранг', 'Оборотв млрд. $', '№', '', 'Страна', 'Отрасль', '№', 'Компания', 'Страна', 'Отрасль']

In [25]:
del world_table_titles[9:]

In [26]:
print(world_table_titles)

['Номерп. п.', 'Название', 'Страна', 'Выручка,млрд $', 'Чистаяприбыль,млрд $', 'Активы,млрд $', 'Собств.капитал,млрд $', 'Рыночнаякапитализ.,млрд $', 'Числосотр.']

In [27]:
import pandas as pd

In [28]:
df = pd.DataFrame(columns = world_table_titles)

In [29]:
df

Empty DataFrame
Columns: [Номерп. п., Название, Страна, Выручка,млрд $, Чистаяприбыль,млрд $, Активы,млрд $, Собств.капитал,млрд $, Рыночнаякапитализ.,млрд $, Числосотр.]
Index: []

In [31]:
column_data = table.find_all('tr')

In [34]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    #print(individual_row_data) # важно, чтобы принт был в цикле, иначе (после цикла) он выдаст нам только последнюю строчку
    
    length = len(df)
    df.loc[length] = individual_row_data

In [35]:
df

,Номерп. п.,Название,Страна,"Выручка,млрд $","Чистаяприбыль,млрд $","Активы,млрд $","Собств.капитал,млрд $","Рыночнаякапитализ.,млрд $",Числосотр.
0,1,Walmart,США,"572,75","13,673","244,86","83,253","379,0",2 300 000[3]
1,2,Amazon,США,"469,82","33,364","420,55","138,25","992,1",1 544 000[4]
2,3,State Grid,Китай,"460,62","7,138","735,43","310,24",-,871 145[5]
3,4,China National Petroleum,Китай,"411,69","9,638","660,01","313,31",-,1 090 345[6]
4,5,Sinopec Group,Китай,"401,31","8,316","380,67","133,48",-,542 286[7]
5,6,Saudi Aramco,Саудовская Аравия,"400,40","105,37","576,13","296,57","2269,1",68 493[8]
6,7,Apple,США,"365,82","94,68","351,00","63,09","2183,3",164 000[9]
7,8,Volkswagen,Германия,"295,82","18,187","601,03","164,24","88,3",672 789[10]
8,9,China State Construction Engineering,Китай,"293,71","4,444","378,35","29,71",-,368 327[11]
9,10,CVS Health,США,"292,11","7,910","233,00","75,08","114,3",258 000[12]
10,11,UnitedHealth Group,США,"287,60","17,285","212,21","71,76","454,8",350 000[13]
11,12,ExxonMobil,США,"285,64","23,040","338,92","168,58","371,8",63 000[14]
12,13,Toyota Motor,Япония,"279,34","25,371","557,52","216,18","236,8",377 369[15]
13,14,Berkshire Hathaway,США,"276,09","89,795","958,78","506,20","683,7",372 000[16]
14,15,Shell,Великобритания,"272,66","20,101","404,38","171,97","179,6",82 000[17]
15,16,McKesson,США,"263,97","1,114","63,30","-2,272","53,6",66 500[18]
16,17,Alphabet,США,"257,64","76,033","359,27","251,64","1276,9",186 779[19]
17,18,Samsung Electronics,Республика Корея,"244,33","34,293","358,98","249,27","298,8",84 462[20]
18,19,Trafigura Group,Сингапур,"231,31","3,100","90,07","10,30",-,9031[21]
19,20,Hon Hai Precision Industry,Китайская Республика,"214,62","4,988","141,04","49,81","48,2",826 608[22]

Сохраняем в csv, убрав автоматический индекс

In [36]:
df.to_csv(r'C:\Users\nasty\Desktop\Настенькины анализы\питон\Project_FortuneGlobal500.csv', index = False)